#define CONFIG_WIRELESS
#define ZMK_BASE_LAYER(name, LT, RT, LM, RM, LB, RB, LH, RH)                                      \
    ZMK_LAYER(                                                                                    \
        name,                                                                                     \
        &kp F1    &kp F2 &kp F3 &kp F4 &kp F5               &kp F6 &kp F7 &kp F8 &kp F9 &kp F10   \
        &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4 &kp N5 &kp N6 &kp N7 &kp N8 &kp N9 &kp N0 &kp MINUS \
        &kp TAB              LT                                            RT           &kp EQUAL \
        &kp CAPS             LM                                            RM           &kp RSHFT \
        &kp LSHFT            LB &none  &none  &none  &none  &none &none    RB           &kp RBKT  \
                                &none  &none &none                                                \
        &kp MAGIC &kp NON_US_BSLH LH &kp END                  &kp PG_UP  RH    &kp LBKT &kp BSLH  \
                                                     &kp INS &kp MINUS &kp RALT)

#include "zmk-helpers/key-labels/glove80.h"
#include "base.keymap"
